.container {
  padding: 0 20px;
  overflow: auto;
}
.container .showcase-form {
  overflow: none;
}
.container .showcase-form .showcase-buttom-text {
  max-width: 20rem !important;
  overflow: none;
}
#main-header a .logo {
  display: none;
}

#main-header {
  padding-top: 3rem;
  justify-content: center;
}

#main-header .navbar {
  background-color: hsla(0, 0%, 0%, 0.2);
  padding: 1rem 0.7rem;
  border-radius: 5px;
}
#main-header .navbar li a {
  padding: 0.5rem 0.5rem;
  color: var(--gray-10);
}

.showcase {
  height: 55vh;
  padding-top: 0.7rem;
}

.showcase .container .showcase-form {
  display: grid;
  grid-template-columns: 20rem auto;
  gap: 0.5rem;
  align-items: center;
}

.showcase .container .showcase-form .showcase-form-text {
  width: auto;
}

.showcase .container .showcase-form .img-showcase {
  width: 5rem;
  padding: 0;
  margin: 0;
  padding-top: 3rem;
  grid-row: 1 / span 1;
}

.showcase .container .showcase-form .section-buttons {
  display: flex;
  width: auto !important;
  grid-column: 1 / span 2;
}
.showcase .container .showcase-form .showcase-buttom-text {
  width: 40rem !important;
  grid-column: 1 / span 2;
}
.showcase .container .showcase-form .showcase-buttom-text p {
  width: 26rem !important;
}

.showcase .container .showcase-form .section-buttons a {
  font-size: 1.1rem;
  padding: 6px 15px;
  margin-right: 1rem;
  display: inline-block;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.showcase .container .showcase-form .showcase-form-text h1 {
  font-size: 1rem;
}

.showcase
  .container
  .showcase-form
  .showcase-form-text
  .showcase-form-text-solutions
  p {
  font-size: 0.8rem;
}

.showcase
  .container
  .showcase-form
  .showcase-form-text
  .showcase-form-text-solutions
  p
  i {
  padding-right: 0.5rem;
}

.showcase .container .showcase-form .section-buttons a {
  font-size: 1.1rem;
  padding: 6px 10px;
  margin-right: 1rem;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.companies .container .grid-container .grid-card img {
  width: 100%;
  height: 40px;
  margin: auto;
}

.playground .container .playground-choices {
  flex-direction: column;
  gap: 2rem;
}

.playground .container .playground-choices ul {
  justify-content: flex-end;
  align-items: flex-end;
}

.possibilities-card {
  width: 22rem;
}

.main-footer .footer-top .container {
  grid-template-areas:
    "why-go get-started"
    "packages about"
    "connect . ";
}

.main-footer .footer-down .footer-down-left img,
.main-footer .footer-down .footer-down-right img,
.main-footer .footer-down .footer-down-left ul li:last-child img {
  display: none;
}

.main-footer .footer-down .footer-down-left ul li:nth-child(4) a {
  border-right: none;
}
